<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>En lo de Cuqui-Sin TACC</title>
</head>
<body class="body_edit">
    <header>
        <div class="logo">
            <img src="/images/logo solo.png" alt="logo">
        </div>
        <nav class="navegador">
            <a href="/">Inicio</a>
            <a href="/create">Nuevo Producto</a>
        </nav>
    </header>
    <main>
        <form action="/productos/<%=editProduc.id %>?_method=PATCH" method = "POST" class="creacion">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="<%=editProduc.nombre%>" placeholder="Nombre producto" class="dato">
            <br>
            <label for="descripcion">Descripción</label>
            <textarea rows="4" cols="50" name="descripcion" id="descripcion" value="<%=editProduc.descripcion%>"  class="dato" ></textarea>
            <br>
            <label for="precio">Precio</label>
            <input type="text" id="precio" value="<%=editProduc.precio%>" class="dato" name="precio">
            <br>
            <label for="imagen">Imagen</label>
            <input type="file" id="imagen" value="<%=editProduc.imagen%>" class="dato" name="imagen">
            <br>
            <label for="submit" ></label>
            <input type="submit" value="Guardar producto" class="dato">
        </form>
    </main>
    <footer>
        <div class="redes">
            <a href="https://www.instagram.com/enlodecuqui/" alt="logo instagram" target="_blank"><img src="/images/ig.png"></a>
            <a href="https://api.whatsapp.com/send/?phone=542612592749&text&type=phone_number&app_absent=0" alt="logo whatsapp" target="_blanck"><img src="/images/wa.png"></a>
        </div>
        <h2>En lo de Cuqui ©️2023</h2>
    </footer>
</body>
</html>