<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>En lo de Cuqui-Sin TACC</title>
</head>
<body>
    <%- include("./partials/header")-%>
    <main class="productos">
        <div class="productos_items">
            <% productos.forEach(producto=>{ %>
                <img src="/img/<%=producto.imagen%>">
                <h2><%=producto.nombre%></h2>
                <p><%=producto.descripcion%></p>
                <span>Precio:$<%=producto.precio</span>
                <button>Agregar al carrito</button>
            })
        </div>
    </main>
    <%- include("./partials/footer") -%>

    
</body>
</html>